.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  backdrop-filter: blur(4px);

  &.show {
    opacity: 1;
    visibility: visible;
  }

  .loading-content {
    text-align: center;
  }
}

.loading-container {
  min-height: 200px;

  &.loading {
    .loading-spinner {
      display: flex;
    }

    .loading-content {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .loading-spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
  }

  .loading-content {
    transition: opacity 0.3s;
  }
}
